<footer class="page-footer docs-footer grey darken-4">
  <div class="container">
    <div class="row" style="margin-bottom: 0;">
      <div class="col s12">
        <div class="row">
          <div class="col l4 s12">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam incidunt dolore ipsum. Qui doloribus dolore error fuga vel? Dolorem voluptates tempore rerum qui, atque hic modi ducimus. Ipsum, molestias cupiditate.

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam incidunt dolore ipsum. Qui doloribus dolore error fuga vel? Dolorem voluptates tempore rerum qui, atque hic modi ducimus. Ipsum, molestias cupiditate.

          </div>
          <div class="col l4 s12">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam incidunt dolore ipsum. Qui doloribus dolore error fuga vel? Dolorem voluptates tempore rerum qui, atque hic modi ducimus. Ipsum, molestias cupiditate.
                  
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam incidunt dolore ipsum. Qui doloribus dolore error fuga vel? Dolorem voluptates tempore rerum qui, atque hic modi ducimus. Ipsum, molestias cupiditate.

          </div>
          <div class="col l4 s12">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam incidunt dolore ipsum. Qui doloribus dolore error fuga vel? Dolorem voluptates tempore rerum qui, atque hic modi ducimus. Ipsum, molestias cupiditate.
                  
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam incidunt dolore ipsum. Qui doloribus dolore error fuga vel? Dolorem voluptates tempore rerum qui, atque hic modi ducimus. Ipsum, molestias cupiditate.

                </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-copyright">
      <div class="container">
              © 2018 Andranik Danielyan
              <a class="right" href="https://github.com/DanielyanAndranik"><i style="font-size: 1.6rem; color: #fff" class="fab fa-github"></i></a>
      </div>
  </div>
</footer>