nav
{
    background-color: #575757;
}
.brand-logo
{
    font-size: 1.5rem;
}
.brand-logo .first-letter
{
    font-family: 'Audiowide', cursive;
    font-size: 2.5rem;
    color: #ffff00;
}

nav .nav-wrapper
{
    padding: 0px 15px;
}
nav li a{
    padding: 0px 30px;
    font-size: 1.3em;
    color: #ffff00;
}
