<main>
           
  <div class="section" id="home">
      <div class="container">

          <div class="row">
              <div class="col s12">
                  
                  <div class="row">
                      <div class="col s12">

                          <h2 class="header center-align">Բարի գալուստ</h2>
                          <h1 class="header center-align">Ռեստարտ գրադարան</h1>
                      
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12 center-align">
                          <a class="waves-effect waves-light btn-large yellow accent-2">Իմանալ ավելին</a>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <div class="container">         
      
<div class="divider"></div>

<div class="section"  id="about">
  <div class="row">
    <div class="col s12">

              </div>
  </div>
</div>


      <div class="section" id="books">

                      <div class="row">
                          
                          <div class="col s12">
  
  
                              <h4 class="header center-align">Գրադարանում առկա գրքերը</h4>
                         
                          </div>
                      </div>
  
                      <div class="divider"></div>
                     
                      <div class="row filter">
                          <form class="col s12">
                              <div class="row" style="margin-bottom: 0px; margin-top: 20px;">
                                  <div class="input-field col s4">
                                      <input placeholder="Վերնագիր" id="title" type="text" class="validate">
                                  </div>
                                  <div class="input-field col s4">
                                      <input placeholder="Հեղինակ" id="author" type="text" class="validate">
                                  </div>
                                  <div class="input-field col s4">
                                      <input placeholder="Հրատարակչություն" id="publisher" type="text" class="validate">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="input-field col s4">
                                      <input placeholder="Տարեթիվ" id="date" type="text" class="validate">
                                  </div>
                                  <div class="input-field col s4">
                                      <select multiple>
                                          <option value="" disabled>Լեզու</option>
                                          <option value="1">Հայերեն</option>
                                          <option value="2">Անգլերեն</option>
                                          <option value="3">Ռուսերեն</option>
                                      </select>
                                  </div>
                                  <div class="input-field col s4 right-align">
                                     <a class="waves-effect waves-light btn-large">Փնտրել<i class="fas fa-search"></i></a>
                                  </div>
                              </div>
                          </form>
                      </div>
                     
                      <div class="divider"></div>
                     
                      <div class="row">
                          <div class="col s12">
                              <div class="grid">
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                                  <div class="book teal z-depth-2"></div>
                              </div>
                          </div>
                      </div>
      </div>

</div>         
</main>