<div class="book z-depth-2">

    <div class="card">
        <div class="card-image waves-effect waves-block waves-light activator"></div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Harry Potter and the Philosopher's Stone</span>
            <span class="author activator grey-text text-darken-2">J.K. Rowling</span>
        </div>
        <div class="card-reveal">
            <p class="card-title grey-text text-darken-4">Harry Potter and the Philosopher's Stone<i class="material-icons right">close</i></p>
             <p class="grey-text text-darken-3">Հեղինակ: J.K. Rowling</p>
            <p class="grey-text text-darken-3">Տպագրվել է: 1997թ․</p>
            <p class="grey-text text-darken-3">Հրատարակչություն: Անտարես</p>
            <p class="grey-text text-darken-3">Ժանր: Ֆենտզի</p>
            <p class="grey-text text-darken-3">Առկայություն։ Առկա է</p>
            <a class="waves-effect waves-light btn-large">Ավելացնել<i class="fa fa-shopping-cart"></i></a>
        </div>
    </div>

</div>