<main>
  <div class="container">
      <div class="row" style="margin-bottom: 0;">
          <div class="col s12">
              <div class="section">
                  <div class="row">
                      <div class="col s12">
                          <h3 class="header center-align">Գրանցում</h3>
                      </div>
                  </div>
                  <div class="row">
                      <form class="col s12 xl8 offset-xl2">
                          <div class="row">
                              <div class="input-field col s6">
                                  <input id="first_name" type="text" class="validate">
                                  <label for="first_name">Անուն</label>
                              </div>
                              <div class="input-field col s6">
                                  <input id="phone" type="text" class="validate">
                                  <label for="phone">Հեռախոսահամար</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s6">
                                  <input id="last_name" type="text" class="validate">
                                  <label for="last_name">Ազգանուն</label>
                              </div>
                              <div class="input-field col s6">
                                  <input id="last_name" type="text" class="validate">
                                  <label for="last_name">Ազգանուն</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s6">
                                  <input id="middle_name" type="text" class="validate">
                                  <label for="middle_name">Հայրանուն</label>
                              </div>
                              <div class="input-field col s6">
                                  <input id="last_name" type="text" class="validate">
                                  <label for="last_name">Ազգանուն</label>
                              </div>
                          </div>    
                          <div class="row">
                              <div class="input-field col s6">
                                      <p>
                                              Սեռ
                                              <label>
                                                  <input name="group1" type="radio" />
                                                  <span>Ար․</span>
                                              </label>
                                              <label>
                                                  <input name="group1" type="radio" />
                                                  <span>Իգ․</span>
                                              </label>
                                          </p>
                              </div>
                                  
                                  
                              <div class="input-field col s6">
                                  <input id="last_name" type="text" class="validate">
                                  <label for="last_name">Ազգանուն</label>
                              </div>
                          </div> 
                          <div class="row">
                                  <div class="input-field col s6">
                                          <input type="text" class="datepicker">
                                      <label for="birthdate">Ծննդյան ամսաթիվ</label>
                                  </div>
                                  <div class="input-field col s6">
                                      <input id="last_name" type="text" class="validate">
                                      <label for="last_name">Ազգանուն</label>
                                  </div>
                              </div>









                          <div class="row">
                              <div class="input-field col s12">
                                  <input id="title" type="password" class="validate">
                                  <label for="password">Գաղտնաբառ</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s12 center-align">
                                  <a class="waves-effect waves-light btn-large">Մուտք</a>
                               </div>
                          </div>
                          <div class="row">
                              <p>Արդեն գրացվե՞լ եք։ <a style="color: teal"  href="D:\Other\Angluar\Components\header\login.html">Մուտք</a>։</p>                               
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>